/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: inherit;

  /* outline: 1px solid red !important; */
}

:root {
  /* Set your variables here */
  --font: 'Montserrat', sans-serif;
}

/* Remove list styles from ul and ol elements */
ul,
ol {
  list-style: none;
}

/* Set the default link color */
a {
  color: inherit;
  text-decoration: none;
}

/* Set the default text color and font family */
body {
  color: #070707;
  font-family: 'Poppins', sans-serif;
}

header {
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
  justify-content: space-between;
  margin-right: 2%;
  align-items: center;
  font-family: 'Press Start 2P', monospace;
}

header img {
  height: 50px;
  width: 50px;
  margin-left: 2%;
}

header ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.links-out {
  color: rgb(119, 119, 119);
}
